<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="UKM_Import_Path" value="C:\\utils\\temp\\"/>
    <add key="Export_Night_To_Weight" value="2"/>
    <add key="Division" value="R01"/>
    <add key="Srok_Godnosti_Chasov" value="12"/>
    <add key="Format_Wigruzki_Vesov" value="dat"/> <!--SIS2002, CSV, SM300, dat-->
    <add key="Content_Length_Weight" value="30"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <machineKey/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="SaalutExpressConnectionString" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="SaalutExpressConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="SaalutExpressConnectionString" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="SaalutExpressConnectionString" applicationName="/"/>
      </providers>
    </sessionState>
  </system.web>
  <connectionStrings>
    <add name="SaalutExpressConnectionString" connectionString="Data Source=.;Initial Catalog=SaalutExpress;Persist Security Info=True;User Id=sa;Password=password;"
      providerName="System.Data.SqlClient" />
    <add name="MySqlServerConnectionString" connectionString="Server=10.0.0.25;Port=3306;Database=ukmserver;Uid=root;Pwd=password;pooling=true;Allow Zero Datetime=true;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>